:root {
    --title-font: 'JOURNALISM';
    --content-font: 'Montserrat';
    --decor-font: 'Klementina';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a {
    display: contents;
    color: inherit;
    text-decoration-line: inherit;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    font-family: var(--content-font);
    font-weight: 400;
    font-size: 10px;
    line-height: 2rem;
    color: #000411;
}

body {
    background-color: #000;
}

.container {
    max-width: 428px;
    padding: 0 2.9rem;
    margin: 0 auto;
}

header {
    background-image: url('/images/bg1.jpg');
    height: 90.9rem;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

header a {
    display: inline-block;
    position: absolute;
    bottom: 6.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 37.6rem;
    height: 8rem;
}