:root {
    --title-font: 'JOURNALISM';
    --content-font: 'Montserrat';
    --decor-font: 'Klementina';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a {
    display: contents;
    color: inherit;
    text-decoration-line: inherit;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    font: 400 2.3364485981vw/1.33 var(--content-font), sans-serif;
    font-weight: 400;
    line-height: 2rem;
    color: #000411;
}

@media (min-width: 428px) {
    html {
        font: 400 10px var(--content-font), sans-serif;
    }
}

body {
    background-color: #000;
    max-width: 428px;
    margin: 0 auto;
}

.container {
    padding: 0 2.9rem;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 37.6rem;
    height: 9rem;
}

.underline {
    text-decoration-line: underline!important;
    display: inline-block;
}

.gray {
    color: #A6A6A6;
}

header,
.polotno-2 {
    width: 100%;
    position: relative;
    /* user-select: none;
    pointer-events: none; */
}

header img,
.polotno-2 img {
    width: 100%;
    user-select: none;
    pointer-events: none;
}

.btn-1 {
    top: 77rem;
}

.btn-2 {
    top: 205rem;
}

.btn-3 {
    top: 251.5rem;
}

.polotno-2 {
    margin-top: -15rem;
}

.slider {
    padding-bottom: 7rem;
    margin-top: -46rem;
    z-index: 5;
    position: relative;
}

.slider-item {
    border-radius: 10px;
    overflow: hidden;
}

.slick-slide img {
    width: 30.7rem;
    margin: 0 auto;
    border-radius: 10px;
}

.slider-item img {
    width: 30.7rem;
    margin: 0 auto;
}

.slider .title {
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
    width: 30.7rem;
    user-select: none;
    pointer-events: none;
}

.slick-prev,
.slick-next {
    bottom: -7.5rem !important;
    top: auto !important;
    transform: translate(0) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 5.3rem !important;
    height: 5.3rem !important;
    aspect-ratio: 53/53;
}

.slick-prev {
    background-image: url("../images/slider-left.svg") !important;
    left: calc(50% - 6rem) !important;
}

.slick-next {
    background-image: url("../images/slider-right.svg") !important;
    right: calc(50% - 6rem) !important;
}

.slick-next:before,
.slick-prev:before {
    display: none;
}

.FAQ .title {
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
    width: 37.1rem;
    user-select: none;
    pointer-events: none;
}

.FAQ {
    margin-bottom: 7rem;
    padding-top: 1rem;
    color: #fff;
}

.FAQ .questionsItem {
    background: transparent;
    overflow: hidden;
    max-height: 140rem;
    transition: max-height 0.5s ease-in;
    cursor: pointer;
    position: relative;
    border: 1px solid #212121;
    background: linear-gradient(45deg, #171717 30.5%, #313131 105.12%);
    border-radius: 10px;
}

.FAQ ul {
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
}

.FAQ .item-wrap {
    display: flex;
    justify-content: space-between;
    padding: 2.8rem 3.2rem;
    z-index: 2;
}

.FAQ .item-wrap .icon {
    background-image: url("../images/faq-arrow.svg");
    background-repeat: no-repeat;
    min-width: 1.6rem;
    height: 1rem;
    margin-top: 0.5rem;
    background-size: contain;
    border-radius: 50%;
}

.FAQ .questionsItem.active .icon {
    transform: rotate(180deg);
}

.FAQ .mainText {
    position: relative;
    font-weight: 500;
    line-height: 133%;
    padding-right: 3.5rem;
    font-size: 1.5rem;
    ;
}

.FAQ .secondText {
    display: none;
    margin-top: -10px;
    padding: 1.5rem 3.2rem 4rem 3.2rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
}
footer {
    padding-bottom: 5rem!important;
}
footer .text-1 {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 178%;
    margin-bottom: 2.7rem;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

footer li {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 150%;
}