:root {
    --title-font: 'JOURNALISM';
    --content-font: 'Montserrat';
    --decor-font: 'Klementina';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a {
    display: contents;
    color: inherit;
    text-decoration-line: inherit;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    font: 400 2.3364485981vw/1.33 var(--content-font), sans-serif;
    font-weight: 400;
    line-height: 2rem;
    color: #000411;
}

@media (min-width: 428px) {
    html {
        font: 400 10px var(--content-font), sans-serif;
    }
}

body {
    background-color: #000;
    max-width: 428px;
    margin: 0 auto;
}

.container {
    padding: 0 2.9rem;
    margin: 0 auto;
}

header {
    width: 100%;
    position: relative;
}

header img {
    width: 100%;
}

header a {
    display: inline-block;
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 37.6rem;
    height: 9rem;
}